.App {
  text-align: center;
}
/* nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(73, 79, 82);
  color: white;
}

nav .nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.nav-bar {
  justify-content: start;
  display: flex;
  justify-content: center;
  align-items: center;
} */
